:host {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;

  & .welcome-text-heading {
    text-decoration: underline;
    color: red;
  }
  
  & .welcome-text-body {
    color: green;
  }
}